.App {
    background: #ff9900;
    padding: 30px;
    margin-right: auto;
    margin-left : auto;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
}

.todo {
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    font-size: 12px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}
.inputTodoText {
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    font-size: 1em;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

header {
    background: #333;
    color: #ccc;
    font-size: 2em;
    margin: 0px;
    padding: 0.5em;
}

footer .footer-text {
    background: #e8e8e8;
    margin: 0px;
    text-align : center;
    padding: 1em;
}

.todo .completed{
    padding-left:24px;
    position:relative;
}
.todo .completed:before,
.todo .completed:after{
    content:"";
    display:block;
    position:absolute;
}
.todo .completed:before{
    width:16px;
    height:16px;
    border-radius:3px;
    background:#ffffff;
    border:1px solid #000000;
    left:0;top:2px;
}
.todo .completed:after{
    border-left:2px solid #ff0000;
    border-bottom:2px solid #ff0000;
    width:15px;
    height:5px;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    left:5px;
    top:3px;
}


.todo .doing{
    padding-left:24px;
    position:relative;
}

.todo .doing:before,
.todo .doing:after{
    content:"";
    display:block;
    position:absolute;
}
.todo .doing:before{
    width:16px;
    height:16px;
    border-radius:3px;
    background:#ffffff;
    border:1px solid #000000;
    left:0;top:2px;
}
